!!!
%html
  %head
    %title James Martinez is a Product Development / Strategy Consultant
    %link{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    %link{ rel: 'stylesheet', type: 'text/css', href: '/stylesheets/application.css' }
    %script{ src: '/javascripts/application.js' }
  %body
    %header#hero
      .content
        %h1
          James Martinez —
          %span#tagline Product Development / Strategy Consultant
        %p
          I help companies turn ideas into successful products.
        %p
          = succeed '.' do
            %a{ href: 'mailto:jamescmartinez@gmail.com' } Let's work together
    %section#work
      .content
        %h2 Clients
        %p Select clients include:
        %ul
          %li
            %a{ href: 'http://www.google.com/' } Google
            %span.project-detail - Product Strategy
          %li
            %a{ href: 'http://www.stanford.edu/' } Stanford
            %span.project-detail - Prototyping & Product Development
          %li
            %a{ href: 'http://ideo.com' } IDEO
            %span.project-detail - Prototyping & Product Development
          %li
            %a{ href: 'http://teachersguild.org' } Teachers Guild
            %span.project-detail - Product Development
          %li
            %a{ href: 'http://schoolretool.org' } School Retool
            %span.project-detail - Product Development
          %li
            %a{ href: 'http://techbridgegirls.org/' } Techbridge
            %span.project-detail - Prototyping
          %li
            %a{ href: 'http://ideo.org' } IDEO.org
            %span.project-detail - Prototyping & Product Development
          %li
            %a{ href: 'http://reviveapp.com' } Revive
            %span.project-detail - Product Design Sprint & Prototyping
          %li
            %a{ href: 'http://snowball.is' } Snowball
            %span.project-detail - Prototyping & Product Development
          %li
            %a{ href: 'http://kurbo.com' } Kurbo
            %span.project-detail - Product Development
        %p
          For additional history, check out my
          = succeed '.' do
            %a{ href: 'https://www.linkedin.com/in/jamescmartinez' } LinkedIn
    %hr
    %section#hire
      .content
        %h2 Consulting (Hire me!)
        %p
          I am currently accepting new projects.
          = succeed '.' do
            %a{ href: 'mailto:jamescmartinez@gmail.com' } Let's talk
    %hr
    %section#elsewhere
      .content
        %h2 Elsewhere
        %p
          Find me around the internet at:
          %ul
            %li
              %a{ href: 'http://twitter.com/jamescmartinez' } Twitter
            %li
              %a{ href: 'https://medium.com/@jamescmartinez/' } Blog
            %li
              %a{ href: 'http://github.com/jamescmartinez' } Github
    %hr
    %footer
      .content
        %p
          ©
          = Time.now.year
          James Martinez —
          %a{ href: 'http://github.com/jamescmartinez/jamescmartinez.com' } Source
