---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home - James Martinez">
  <div class="font-mono max-w-[80ch] mx-auto p-10">
    <h1 class="mb-2">James Martinez</h1>
    <ul>
      <li>
        <a
          href="https://x.com/jamescmartinez"
          class="underline decoration-2 underline-offset-2 transition-all duration-200"
          >X <span>↗</span></a
        >
      </li>
      <li>
        <a
          href="https://linkedin.com/in/jamescmartinez"
          class="underline decoration-2 underline-offset-2 transition-all duration-200"
          >LinkedIn <span>↗</span></a
        >
      </li>
      <li>
        <a
          href="https://github.com/jamescmartinez"
          class="underline decoration-2 underline-offset-2 transition-all duration-200"
          >GitHub <span>↗</span></a
        >
      </li>
    </ul>
  </div>
</Layout>
