---
title: James Martinez
description: I help companies like yours build successful products.
---

<div class="container">
  <h1>👋 I'm James.</h1>
  <h2>I help companies like yours build successful products.</h2>
  <p>
    Get in touch via
    <a href="mailto:jamescmartinez@gmail.com">email</a>
    or on
    <a class="twitter" href="https://twitter.com/jamescmartinez">Twitter</a>.
  </p>
</div>
