---
title: James Martinez - Let Me Buy You A Coffee
description: I help companies like yours build successful products. Let me buy you a coffee.
---

<div class="container">
  <h1>👋 I'm James.</h1>
  <h2>I help companies like yours build successful products.</h2>
  <p>
    <span class="cta">Let me buy you a coffee.</span></b>
    Get in touch via
    <a href="mailto:jamescmartinez@gmail.com">email</a>
    or on
    <a class="twitter" href="https://twitter.com/jamescmartinez">Twitter</a>.
  </p>
</div>
